@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FFFFFF;
  }
  .dark ::-webkit-scrollbar-track {
    background: #10141E;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #161D2F;
  }
  .dark ::-webkit-scrollbar-thumb {
    background: #fff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5A698F;
  }